body {
    text-align: center;
}

.about_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    margin-top: 0px;
}

.skills {
    width: 500px;
    height: 360px;

    background-color: rgba(34, 31, 31, 0.342);
    border-radius: 10px;
    border: 2px solid rgb(97, 100, 100);
    box-shadow: 0 0 40px 0 rgb(97, 100, 100);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills_title {
    margin-bottom: 0px;
}

.bukkit_title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.bukkit {
    margin-top: 0px;
    margin-bottom: 0px;
}

.ormlite_title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.ormlite {
    margin-top: 0px;
    margin-bottom: 0px;
}

.spring_title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.spring {
    margin-top: 0px;
    margin-bottom: 0px;
}

.skills_2_title {
    margin-bottom: 0px;
}

.lombok_title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.lombok {
    margin-top: 0px;
    margin-bottom: 0px;
}

.junit_title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.junit {
    margin-top: 0px;
    margin-bottom: 0px;
}